<div class="banner  banner-5 ng-scope sector-banner">

  <div class="container">
    <h1><span>THE SECTORS</span></h1>

  </div>
</div>



<div class="container">
  <div class="col-sm-12 main-contant">
    <div class="col-sm-12 sector-section"  id="SectorCorp">
      <div>
        <div class="col-sm-6"id="Corporate-image">
          <div class="sector-title text-center visible-xs">
            <h2><span>Corporate</span></h2>
            <div class="clear-both"></div>
          </div>
          <div class="sector-img">
            <img width="683" height="582" src="assets/image/Corporate1.jpg" class="img-thumbnail" alt="l"  sizes="(max-width: 683px) 100vw, 683px">
          </div>
        </div>
        <div class="col-sm-6" id="Corporate-contant">
          <div class="sector-contant">
            <div class="sector-title text-center hidden-xs">
              <h2><span>Corporate</span></h2>
              <div class="clear-both"></div>
            </div>
            <p>
							<span>
								Clothes, be it uniform or virtage could help could help to create a character. Clothes are undoubtedly, the first thing, people notice in us. So let’smake their store worth looking. Business clothes should speak of professionalism. A crisp and decent dress code conveys a lot before we even speak.We take a been interest to wards corporate attire is it is a reflection of your attitude and its surely has to be a very prim and proper..
							</span>
            </p>
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>

    <div class="col-sm-12 sector-section"  id="SectorHosp">

      <div>
        <div class="col-sm-6" id="Hospitality-contant">
          <div class="sector-contant">
            <div class="sector-title text-center hidden-xs">
              <h2><span>Hospitality</span></h2>
              <div class="clear-both"></div>
            </div>
            <p>
						<span>
							Perfectly groomed, nice tailored uniforms neat and less maintenance for your skilled hospitality department…the search ends here .Your employees are a part of your esteemed team and how they are to be presented leaves a forever mark. They should be moving in proper comfortable uniforms which will leave a pleasing and satisfying effect on your customer..
						</span>
            </p>
          </div>
        </div>
        <div class="col-sm-6" id="Hospitality-image">
          <div class="sector-title text-center visible-xs">
            <h2><span>Hospitality</span></h2>
            <div class="clear-both"></div>
          </div>
          <div class="sector-img">
            <img width="683" height="582" src="assets/image/hospitality-sectors-main-page1.jpg" class="img-thumbnail" alt="" sizes="(max-width: 683px) 100vw, 683px">
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>

    <div class="col-sm-12 sector-section" id="SectorHealth">

      <div>

        <div class="col-sm-6"id="Healthcare-image ">
          <div class="sector-title text-center visible-xs">
            <h2><span>Healthcare</span></h2>
            <div class="clear-both"></div>
          </div>
          <div class="sector-img">
            <img width="683" height="582" src="assets/image/healtcare-sectors-main-page1.jpg" class="img-thumbnail" alt=""sizes="(max-width: 683px) 100vw, 683px">
          </div>
        </div>
        <div class="col-sm-6"id="Healthcare-contant ">
          <div class="sector-contant">
            <div class="sector-title text-center hidden-xs">
              <h2><span>Healthcare</span></h2>
              <div class="clear-both"></div>
            </div>
            <p>
						<span>
							In healthcare sector, special attention & focus is laid on the neatness and also germ-free fabrics, which are to be used by the physicians nurses and other helping staff with the right kind of fabric to the right choices of colours with the appreciate requirements in the styling	of garments for easy and convenient usage we pay a sharp eye on all..
						</span>
            </p>
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>

    <div class="col-sm-12 sector-section"  id="SectorAvi">

      <div>
        <div class="col-sm-6" id="Aviation-contant">
          <div class="sector-contant">
            <div class="sector-title text-center hidden-xs">
              <h2><span>Aviation</span></h2>
              <div class="clear-both"></div>
            </div>
            <p>
						<span>
						One of the most prestigious and fast growing sector is aviation. People connected with this department are the ones who are most concerned about their uniforms.We are well aware and competent enough to meet the most stylish, comfortable and perfect looking demands of the airline members. A perfectly groomed pilot, neatly and smartly dressed cabin crew members speaks volume of their company. Recognizing the latest trends,daily routine requirements we serve the in this area..
						</span>
            </p>
          </div>
        </div>
        <div class="col-sm-6" id="Aviation-image">
          <div class="sector-title text-center visible-xs">
            <h2><span>Aviation</span></h2>
            <div class="clear-both"></div>
          </div>
          <div class="sector-img">
            <img width="683" height="582" src="assets/image/aviation-sectors-main-page1.jpg" class="img-thumbnail" alt="" sizes="(max-width: 683px) 100vw, 683px">
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>


    <div class="col-sm-12 sector-section"  id="SectorIndu">


      <div>
        <div class="col-sm-6" id="Industrial-image ">
          <div class="sector-title text-center visible-xs">
            <h2><span>Industrial</span></h2>
            <div class="clear-both"></div>
          </div>
          <div class="sector-img">
            <img width="683" height="582" src="assets/image/Industrial1.jpg" class="img-thumbnail" alt=""sizes="(max-width: 683px) 100vw, 683px">
          </div>
        </div>
        <div class="col-sm-6" id="Industrial-contant ">
          <div class="sector-contant">
            <div class="sector-title text-center hidden-xs">
              <h2><span>Industrial</span></h2>
              <div class="clear-both"></div>
            </div>
            <p>
						<span>
							Industrial work wear demand comfortable clothing standards and should be made to stand up to the demand of the toughest job. Long-wearing,high safety, good quality fabric designed specially to move the way you work. We place great emphasis on the purchase and requirements and working conditions as provide the best suited products..
						</span>
            </p>
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>


  </div>
</div>
