<footer>
    <div class="copyright">
        <div class="container">
            <div class="col-sm-12 footer-nav">
                <ul class="nav">
                    <a routerLink=""><span data-hover="Home">Home</span></a>
                    <a routerLink="about"><span data-hover="About">About</span></a>
                    <a routerLink="uniform-guide"><span data-hover="Contact">Uniform Guide</span></a>
                    <a routerLink="gallery"><span data-hover="Gallery">Gallery</span></a>
                    <a routerLink="contact"><span data-hover="Contact">Contact</span></a>
                    <a routerLink="privay-policy">Privacy Policy</a>
                    <a routerLink="terms-condition">Terms & Conditions</a>
                    <a routerLink="returns-policy">Returns Policy</a>
                    <a routerLink="faq">FAQ</a>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="col-sm-6 copyright-center">
                <p>© 2018 Impulse | Design and Developed by <a href="http://cuminte.com/    ">Cumint PVT.LTD.</a></p>
            </div>
            <div class="col-sm-6">
                <div class="copyright-right">
                    <ul>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="twitter facebook"> </a></li>

                        <li><a href="#" class="twitter pinterest"> </a></li>
                        <li><a href="#" class="twitter linkedin"> </a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
