<div class="sector-sidebar">
  <div class="sidebar-button"><span class="sidebar-button1">&#9776;</span><span class="sidebar-button2">x</span></div>
  <div class="sidebar-menu">
    <ul>
      <li><a href="" onclick="smoothScroll(document.getElementById('AccSports'))">Sports</a></li>
      <li><a href="" onclick="smoothScroll(document.getElementById('AccBags'))">Bags</a></li>
      <li><a href="" onclick="smoothScroll(document.getElementById('AccBags'))">Woolen Stalls</a></li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".sidebar-button").click(function(){
      jQuery(this).parent().toggleClass('sidebar-active');
    });
  });
</script>





<div class="banner  banner-5 ng-scope sector-banner">

  <div class="container">
    <h1><span>Accessories</span></h1>

  </div>
</div>



<div class="container">
  <div class="col-sm-12 main-contant" id="">
    <div class="col-sm-12 sector-section" id="AccSports">

      <div>
        <div class="col-sm-6">
          <div class="sector-title text-center hidden-md hidden-lg">
            <h2><span>Sports</span></h2>
            <div class="clear-both"></div>
          </div>

          <div class="sector-img">
            <img width="683" height="582" src="assets/image/sports.jpg" class="img-thumbnail" alt="l"  sizes="(max-width: 683px) 100vw, 683px">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="sector-contant">
            <div class="sector-title text-center hidden-xs">
              <h2><span>Sports</span></h2>
              <div class="clear-both"></div>
            </div>
            <p>
                        <span>
                            Clothes, be it uniform or virtage could help could help to create a character. Clothes are undoubtedly, the first thing, people notice in us. So let’smake their store worth looking. Business clothes should speak of professionalism. A crisp and decent dress code conveys a lot before we even speak.We take a been interest to wards corporate attire is it is a reflection of your attitude and its surely has to be a very prim and proper..
                        </span>
            </p>
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>

    <div class="col-sm-12 sector-section" id="AccBags">

      <div>
        <div class="col-sm-6"id="Bags-contant">
          <div class="sector-contant">
            <div class="sector-title text-center hidden-xs">
              <h2><span>Bags</span></h2>
              <div class="clear-both"></div>
            </div>
            <p>
                        <span>
                            Perfectly groomed, nice tailored uniforms neat and less maintenance for your skilled hospitality department…the search ends here .Your employees are a part of your esteemed team and how they are to be presented leaves a forever mark. They should be moving in proper comfortable uniforms which will leave a pleasing and satisfying effect on your customer..
                        </span>
            </p>
          </div>
        </div>
        <div class="col-sm-6"id="Bags-image">
          <div class="sector-title text-center hidden-md hidden-lg">
            <h2><span>Bags</span></h2>
            <div class="clear-both"></div>
          </div>
          <div class="sector-img">
            <img width="683" height="582" src="assets/image/bags.jpg" class="img-thumbnail" alt="" sizes="(max-width: 683px) 100vw, 683px">
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</div>
