

		.vc_custom_1507663737576 {
            background-image: url("../image/sectorHead.png?id=4384") !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
.vc_custom_1507754286101 {
    background-image: url("../image/fabric.jpg?id=4310") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1507753396896 {
    background-image: url("../image/uniform.jpg?id=4308") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1507754435731 {
    margin-top: -100px !important;
    background-image: url("../image/darkBox.png?id=4418") !important;
	}
     /* .vc_custom_1507667516181 { */
            /* background-color: #eeeaec !important; */
        /* } */
.vc_custom_1507753850097 {
    background-color: #ae3418;
    margin-top: -100px !important;
    
}
.wpb_wrapper h1 span{
				color:#ae3418;
				padding-bottom:15px;
				font-family: Montserrat;
			  }
.wpb_wrapper h4 span{
				color:#2c2c2c;
				border-bottom:4px solid #ae3418;
				padding-bottom:15px;
				font-family: Montserrat;
			    font-size: 50px;
				font-weight: bold;
	}
        /* .vc_custom_1507748729973 { */
            /* background-color: #ae3418 !important; */
        /* } */

        /* .vc_custom_1507748729973 { */
            /* background-color: #ae3418 !important; */
        /* } */

        /* .vc_custom_1507667516181 { */
            /* background-color: #eeeaec !important; */
        /* } */

        /* .vc_custom_1507748729973 { */
            /* background-color: #ae3418 !important; */
        /* } */

        /* .vc_custom_1507748729973 { */
            /* background-color: #ae3418 !important; */
        /* } */

        /* .vc_custom_1507667516181 { */
            /* background-color: #eeeaec !important; */
        /* } */

        /* .vc_custom_1507748729973 { */
            /* background-color: #ae3418 !important; */
        /* } */

        /* .vc_custom_1507748729973 { */
            /* background-color: #ae3418 !important; */
        /* } */

        /* .vc_custom_1507667516181 { */
            /* background-color: #eeeaec !important; */
        /* } */

        .vc_custom_1507664960525 {
            margin-top: -100px !important;
        }

        .vc_custom_1507665360588 {
		 background-color: #ae3418 !important;
            padding-right: 25px !important;
            padding-left: 25px !important;
            
        }

        /* .vc_custom_1507666368075 { */
            /* background-color: #eeeaec !important; */
        /* } */

        .vc_custom_1507666472240 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1509281077943 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1509281035904 {
            background-color: #ae3418 !important;
        }

        .vc_custom_1507748075402 {
            /* padding-left: 50px !important; */
        }

        .vc_custom_1509281251501 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        /* .vc_custom_1509281242009 { */
            /* background-color: #ae3418 !important; */
        /* } */

        .vc_custom_1507748075402 {
            /* padding-left: 50px !important; */
        }

        /* .vc_custom_1507666368075 { */
            /* background-color: #eeeaec !important; */
        /* } */

        .vc_custom_1507666472240 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1509281336644 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        /* .vc_custom_1509281327884 { */
            /* background-color: #ae3418 !important; */
        /* } */

        .vc_custom_1507748075402 {
            /* padding-left: 50px !important; */
        }

        .vc_custom_1509281316348 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1509281308877 {
            background-color: #ae3418 !important;
        }

        .vc_custom_1507748075402 {
            /* padding-left: 50px !important; */
        }

        /* .vc_custom_1507666368075 { */
            /* background-color: #eeeaec !important; */
        /* } */

        .vc_custom_1507666472240 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1509281395283 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        /* .vc_custom_1509281386556 { */
            /* /* background-color: #ae3418 !important; */ */
        /* } */

        .vc_custom_1507748075402 {
            /* padding-left: 50px !important; */
        }

        .vc_custom_1509281410108 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        /* .vc_custom_1509281403796 { */
            /* background-color: #ae3418 !important; */
        /* } */

        .vc_custom_1507748075402 {
            /* padding-left: 50px !important; */
        }

        /* .vc_custom_1507666368075 { */
            /* background-color: #eeeaec !important; */
        /* } */

        .vc_custom_1507666472240 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1516181221989 {
            padding-left: 20px !important;
        }
	
	
	
	
	
	
	
        .fixed-body{
            position: relative;
        left: 0px;
        }
        div#wpcs_tab_4151 {
            border: 1px solid ;
            border-top:none;
            cursor: pointer;
            width: 170px;
            height: 34px;
            overflow: hidden;
            background: #ae3418;
            color: #ffffff;
            padding: 2px 0px 2px 0px;
            position: fixed;
            top: 200px;
        left: -68px;
            text-align: center;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
            z-index: 9999999;
            font-size: 18px;
        }
        div#wpcs_content_main_4151 {
            opacity:0;
            position: fixed;
            overflow-y: scroll;
            width: 500px;
            max-width: 100%;
            height: 100%;
            background: #ae3418;
            color: black;
            top: 0px;
        left: -500px;
            padding: 0px;
            margin: 0px;
            z-index: 9999999;
        }
        #wpcs_close_slider_4151 img {
            max-width: 100%;
        }
        div#wpcs_content_inner_4151 {
            display: none;
            max-width: 100%;
            min-height: 100%;
            background: ;
            padding: 20px 20px 20px 20px;
            margin: 60px 40px 60px 40px;
            color: #ffffff;
            border: 1px solid ;
        }
        div#wpcs_content_inner_4151 label{
            color: #ffffff;
        }
        div#wpcs_overlay_4151{
            /* cursor: url("../image/cursor_close.png"), auto; */
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 999999;
            background: rgba(49, 49, 49, 0.65);
        }
        .wpcs_overlay_display_cross{
            cursor: url("../image/cursor_close.png"), auto;
        }
        #wpcs_content_main_4151::-webkit-scrollbar {
            display: none;
        }
        div#wpcs_close_slider_4151 {
            top: 0px;
        right: 0px;
            position: absolute;
            bottom: 0px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            background: #0000007a;
            padding: 0px;
            overflow: hidden;
        }
        .wpcs-cf7, .wpcs-gf, .wpcs-wp-form, .wpcs-caldera-form, .wpcs-constant-forms, .wpcs-constant-forms,
        .wpcs-pirate-forms, .wpcs-si-contact-form, .wpcs-formidable, .wpcs-form-maker, .wpcs-form-craft,
        .visual-form-builde {
            overflow: hidden;
        }
        /***** WPCS Media Query ****/
                @media (max-width: 600px) {
            #wpcs_tab_4151, #wpcs_content_main_4151 {
                display: none !important;
            }
        }
	
	
	.vc_custom_1507321451540 {
			margin-top: 50px !important;
			background-image: url("../image/testiBgnew.png?id=4144") !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: cover !important;
		}
	.vc_custom_1507322193787{
		margin-top: -140px !important;
		background: #2a2a2a url("../image/testiBox.png?id=4138") !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		}
	.vc_custom_1516181228218{
			padding-left: 20px !important;
		}
	
	