<div class="banner  banner-5 ng-scope sector-banner">

  <div class="container">
    <h1><span>Education</span></h1>

  </div>
</div>



<div class="container">
  <div class="col-sm-12 main-contant" >
    <div class="col-sm-12 sector-section" id="EduSchool">

      <div>
        <div class="col-sm-6">
          <div class="sector-title text-center visible-xs">
            <h2><span>School Uniforms</span></h2>
            <div class="clear-both"></div>
          </div>
          <div class="sector-img">
            <img src="assets/image/schooldress.jpg" class="img-thumbnail" alt="l">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="sector-contant">
            <div class="sector-title text-center hidden-xs">
              <h2><span>School Uniforms</span></h2>
              <div class="clear-both"></div>
            </div>
            <p>
                        <span>
                            Clothes, be it uniform or virtage could help could help to create a character. Clothes are undoubtedly, the first thing, people notice in us. So let’smake their store worth looking. Business clothes should speak of professionalism. A crisp and decent dress code conveys a lot before we even speak.We take a been interest to wards corporate attire is it is a reflection of your attitude and its surely has to be a very prim and proper..
                        </span>
            </p>
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>

    <div class="col-sm-12 sector-section" id="EduCorporate">

      <div>
        <div class="col-sm-6" id="Corporate-contant">
          <div class="sector-contant">
            <div class="sector-title text-center hidden-xs">
              <h2><span>Corporate Uniforms</span></h2>
              <div class="clear-both"></div>
            </div>
            <p>
                        <span>
                            Perfectly groomed, nice tailored uniforms neat and less maintenance for your skilled hospitality department…the search ends here .Your employees are a part of your esteemed team and how they are to be presented leaves a forever mark. They should be moving in proper comfortable uniforms which will leave a pleasing and satisfying effect on your customer..
                        </span>
            </p>
          </div>
        </div>
        <div class="col-sm-6" id="Corporate-image">
          <div class="sector-title text-center visible-xs">
            <h2><span>Corporate Uniforms</span></h2>
            <div class="clear-both"></div>
          </div>
          <div class="sector-img">
            <img src="../../../assets/image/education.png" class="img-thumbnail" alt="">
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
</div>
