<div class="request-quote"> 
       <a href="" data-toggle="modal" data-target="#requestQuote"><span>Request Quote</span></a>
</div>

<div class="col-sm-12 sector-section spoke-section">
    <div class="container">
        <div class="sector-section">
        <div class="col-sm-6">
        <div class="sector-contant">
        <div class="sector-title text-center">
            <h2><span>Uniforms</span></h2>
            <div class="clear-both"></div>
        </div>
            <p>
                <span>
                    Our team of skilled, super talented craft people having a great taste, knowledge of all kinds of fabric are known for their excellence. Here your garments, their styling and matching are discussed precisely before working upon thus producing a super quality product unmatched from every angle.
                </span>
            </p>
        </div>
    </div>
    <div class="col-sm-6">
                <div class="sector-img">
                    <img src="assets/image/uniform1.jpg" class="img-thumbnail" alt="">
                </div>
            </div>
    </div>
   <div class="sector-section">
        <div class="col-sm-6"id="fabrics-image">
                <div class="sector-img">
                    <img src="assets/image/fabric.jpg" class="img-thumbnail" alt="">
                </div>
        </div>
    <div class="col-sm-6"id="fabrics-contant">
        <div class="sector-contant">
        <div class="sector-title text-center">
            <h2><span>Fabrics</span></h2>
            <div class="clear-both"></div>
        </div>
            <p>
                <span>
                    A fabric is the heart of the garment, and we are known to be the masters in this field. With an experience of over 150 years in serving the people of the nation & abroad, we feel immense proud to serve all. Our best and most competitive prices super specialists’ team, and a very wide selection range of most comfortable and skin friendly fabrics will guarantee you satisfaction.
                </span>
            </p>
        </div>
    </div>
    </div>
</div>
</div>
<script type="text/javascript">

var windowWidth = $(window).width();
//window.alert(windowWidth);
if(windowWidth<=767){
    $('#fabrics-contant').insertBefore('#fabrics-image');
    }
    </script>