
<!--header-->
<!-- Top Navigation -->
<div class="banner banner5">
  <div class="container">
    <h2><span>About Us</span></h2>
  </div>
</div>
<!--header-->
<!-- About -->
<div class="container">
  <div class="col-sm-12 main-contant">
    <div class="about-info-grids">
      <div class="col-md-5 abt-pic">
        <img src="assets/images/abt.jpg" class="img-thumbnail" alt="" />
      </div>
      <div class="col-md-7 abt-info-pic sector-title">
        <h2><span>Our Company</span></h2>
        <!--  <h3>Vestibulum congue neque quis ex fringilla, in pellentesque massa gravida.</h3> -->
        <span></span>
        <!-- <ul>
            <li>Proin et ligula ut nulla laoreet posuere.</li>
            <li>Sed vestibulum magna vel egestas feugiat.</li>
            <li>Curabitur nec erat eu lorem gravida aliquet.</li>
        </ul> -->
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="team">
      <div class="sector-title text-center"><h2 ><span>International Alliances</span></h2></div>

      <div class="grid-4">
        <a href="http://cuminte.com/" target="_blank">
          <div class="team-grid">
            <img src="assets/images/cuminte-logo.png" alt="">

            <!-- <h5>Sr. Accountant</h5>
            <p><span class="glyphicon glyphicon-envelope"></span>sumanranjan@gmail.com</p>
            <p><span class="glyphicon glyphicon-earphone"></span>+971562162806</p> -->
          </div>
          <h4>Cumint Private Limited</h4></a>
      </div>
      <div class="grid-4">
        <a href="http://cuminte.com/" target="_blank">
          <div class="team-grid">
            <img src="assets/images/coccattech-logo.png" alt="">

            <!--  <h5>Administrative Officer</h5>
             <p><span class="glyphicon glyphicon-envelope"></span>sandhya.meena81@gmail.com</p>
             <p><span class="glyphicon glyphicon-earphone"></span>+971567416921</p> -->
          </div>
          <h4>Concat Tech</h4></a>
      </div>
      <div class="grid-4 span66">
        <a href="http://trcuniforms.com/" target="_blank">
          <div class="team-grid">
            <img src="assets/images/trc-logo.png" alt="">

            <!-- <h5>Operation Executive</h5>
            <p><span class="glyphicon glyphicon-envelope"></span>ankitalade3902@gmail.com</p>
            <p><span class="glyphicon glyphicon-earphone"></span>+971589327903</p> -->
          </div>
          <h4>TRC Uniforms</h4></a>
      </div>
      <!--  <div class="grid-4">
<div class="team-grid">
    <img src="images/abt4.jpg" alt="">
    <h4>Francies Gomes</h4>
    <p>Impulse General Trading LLC</p>
    <p>Email-Id:- francis123456@gmail.com</p>
    <p>contact No. +917588165761</p>
    <p>Designation Sales Executive</p>
</div>
</div> -->
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
