<div class="banner banner5">
  <div class="container">
    <h2><span>Gallery</span></h2>
  </div>
</div>


<div class="container">
  <div class="col-sm-12 main-contant">
    <div class="col-sm-12 gallery-section">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <ul class="panel-tabs" style="width:100%;">
            <li class="col-md-3 col-sm-4 col-xs-3  col-xs-offset-3 col-md-offset-3 gallery-block active" >
		                    <span href="#gallerytab1" data-toggle="tab" aria-expanded="true">
		                      <div class="col-sm-12 gallery-img tabsection no-padding">
		                        <img src="images/The Indian High School Logo.jpg" alt="" class="img-thumbnail">
		                        <div class="img-text tab-text">
		                          <span>I.H.S</span>
		                        </div>
		                      </div>
		                    </span>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-3 gallery-block">
		                    <span href="/#!/gallery#gallerytab2" data-toggle="tab" aria-expanded="false">
		                      <div class="col-sm-12 gallery-img tabsection no-padding">
		                        <img src="images/The Indian International School Logo.jpg" alt="" class="img-thumbnail">
		                        <div class="img-text tab-text">
		                          <span>I.I.S</span>
		                        </div>
		                      </div>
		                    </span>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="gallerytab1">
              <div class="row">
                <a href="images/IHS-1-2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IHS-1-2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/IHS-1to2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IHS-1to2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/IHS-3-4.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IHS-3-4.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/IHS-5-8.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IHS-5-8.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/IHS-9-10.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IHS-9-10.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/IHS-11-12.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IHS-11-12.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>



            <div class="tab-pane" id="gallerytab2">
              <div class="row">
                <a href="images/IIS-Kg1-2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IIS-Kg1-2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/IIS-kg1to2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IIS-kg1to2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/IIS-3-4.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IIS-3-4.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/IIS-5-8.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IIS-5-8.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/IIS-9-10.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/IIS-9-10.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>



            <div class="tab-pane" id="gallerytab3">
              <div class="row">
                <a href="images/g2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/g2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/g2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/g2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>



            <div class="tab-pane" id="gallerytab4">
              <div class="row">
                <a href="images/g2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/g2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/g2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/g2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/g2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/g2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>



            <div class="tab-pane  " id="gallerytab5">
              <div class="row">
                <a href="images/g2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/g2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
                <a href="images/g2.jpg" data-fancybox="group" data-caption="" class="col-sm-4 col-xs-6">
                  <div class="col-sm-12 gallery-img no-padding">
                    <img src="images/g2.jpg" alt="" class="img-thumbnail">
                    <div class="img-text">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>





          </div>
        </div>
      </div>

    </div>
  </div>
</div>
